node_modules

# Ignore local environment file
.env

### VS Code ###
# Not ignore cliptale default vsscode settings
.vscode/*.default
# Not ignore recommended extensions file
!.vscode/extensions.json
# Ignore everything else inside vscode (user snippets, etc...)
.vscode